@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #D9D9D9;
}
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 82px;
    background-color: #317C66;
}
.cabecalho h1 {
    margin: 0 20px;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 2.375rem;
}
.cabecalho nav ul {
    display: flex;
    gap: 40px;
    margin: 0 20px;
    list-style-type: none;
}
.cabecalho nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #67AF9E;
    border-radius: 10px;
    width: 120px;
    height: 30px;
}
.cabecalho nav ul li a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: .875remm;
    line-height: .875rem;
    text-decoration: none;
}
.main {
    width: 100%;
    min-height: 100vh;
}
.main .img{
    background-image: url("../img/meio-ambiente.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    
}
.main .img .unep {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
}
.main .img .unep h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 2.875rem;
    background-color: #309f0b6a;
    width: 800px;
    height: 100px;
    border-radius: 5px;
}
.main .img .unep button {
    margin: 20px;
    color: #FFFFFF;
    background-color: #309f0b;
    font-size: 2rem;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.main .curiosidades {
    width: 100%;
    height: 30px;
}
.main .curiosidades h2 {
    text-align: center;
    margin: 50px;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 38px;
    color: #3C3200;
}
.main .all-card {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50vh;
}
.main .all-card .card {
    width: 260px;
    height: 400px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 10px 10px 0 0;
}

.main .all-card .card img {
    position: absolute;
    width: 260px;
    height: 182px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.main .all-card .card div{
    position: relative;
    top: 130px;
    height: 70px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.main .all-card .card div span img {
    width: 34px;
    height: 33px;
    margin: 0 10px;
}
.main .all-card .card div span h4 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
    color: #3C3200;
    width: 126px;
    height: 20px;
    margin: 0 10px;
    background-color: rgba(217, 217, 217, 0.72);
}
.main .all-card .card  p {
    position: relative;
    text-align: center;
    top: 140px;
    min-height: 135px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
}
.main .all-card .card .botao {
    width: 260px;
    display: flex;
    justify-content: center;
}
.main .all-card .card  .botao button {
    position: relative;
    width: 126px;
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #000000;
    background-color: rgba(140, 168, 144, 0.73);;
    border-radius: 5px;
}
.main .video {
    width: 100%;
    height: 60px;
}
.main .video h2 {
    text-align: center;
    margin: 40px;
    font-size: 2.625rem;
    color: #3C3200;
}
.main .video-you-tube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
    min-height: 50vh;
}
.rodape {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 171px;
    background-color: #317C66;
}
.rodape .logo-rodape {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
}
.rodape .logo-rodape h1 {
    margin: 10px;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 2.375rem;
}
.rodape .rede-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.rodape .rede-social a .linkedin {
    width: 70px;
    margin: 0 20px;
}
.rodape .rede-social a .github {
    width: 100px;
    margin: 0 20px;
}.rodape div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 61px;
}
.rodape div h2 {
    color: #EBEBEB;
    font-size: .75rem;
    font-weight: 700;
    line-height: 19px;
}
@media (min-width: 2560px){
    .main .img .unep h2 {
        font-size: 4rem;
        width: 1150px;
        height: 120px;
    }
    .main .img .unep button {
        font-size: 3rem;
        font-weight: 600;
        width: 300px;
        height: 70px;
    }
    .cabecalho {
        height: 140px;
    }
    .cabecalho h1 {
        font-size: 3rem;
    }
    .cabecalho h1 img{
        width: 70px;
    }
    .cabecalho nav ul li {
        width: 200px;
        height: 50px;
    }
    .cabecalho nav ul li a {
        font-size: 1.5rem;
    }
    .main .curiosidades {
        width: 100%;
        height: 30px;
    }
    .main .curiosidades h2 {
        font-size: 4rem;
    }
    .main .all-card .card {
        width: 460px;
        height: 650px;
        margin: 20px;
        background-color: rgba(255, 255, 255, 0.43);
        border-radius: 10px 10px 0 0;
    }
    
    .main .all-card .card img {
        position: absolute;
        width: 460px;
        height: 282px;
    }
    .main .all-card .card div{
        top: 230px;
    }
    .main .all-card .card div span h4 {
        position: relative;
        font-size: 1.2rem;
        left: 170px;
        width: 180px;
        height: 20px;
    }
    .main .all-card .card div span img {
        width: 50px;
        top: 20px;
    }
    .main .all-card .card  p {
        position: relative;
        text-align: center;
        top: 250px;
        min-height: 280px;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 40px;

    }
    .main .all-card .card .botao {
        width: 360px;

    }
    .main .all-card .card  .botao button {
        position: relative;
        width: 200px;
        height: 50px;
        font-size: 1.5rem;
        left: 50px;
        
    }
    .main .video h2 {
        font-size: 4rem;
    }
    .main .video-you-tube {
        min-height: 60vh;
    }
    .main .video-you-tube .you-tube {
        width: 1024px;
        height: 576px;
    }
    .rodape {
        height: 200px;
    }
    .rodape .logo-rodape {
        margin-top: 10px;
    }
    .rodape .logo-rodape h1 {
        font-size: 3rem;
    }
    .rodape .logo-rodape h1 img {
        width: 70px;
    }
    
    .rodape .rede-social a .linkedin {
        width: 110px;
        margin: 0 20px;
    }
    .rodape .rede-social a .github {
        width: 150px;
        margin: 0 20px;
    }.rodape div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 61px;
    }
    .rodape div h2 {
        color: #EBEBEB;
        position: relative;
        font-size: 1.2rem;
        font-weight: 700;
        top: 20px;
        line-height: 19px;
    }
}
@media (max-width: 845px) {
    .cabecalho {
        flex-direction: column;
        height: 100px;
    }
    .cabecalho h1{
        position: relative;
        top: 5px;
    }
    .cabecalho nav ul li {
        position: relative;
        bottom: 10px;
    }
    .main .img .unep h2 {
        font-size: 2rem;
        width: 600px;
        height: 100px;
    }
    .main .img .unep button {
        font-size: 1.5rem;
        font-weight: 600;
        width: 150px;
        height: 50px;
    }
}

@media (max-width: 650px) {
    .cabecalho {
        height: 250px;
    }
    .cabecalho h1 {
        position: relative;
        top: 5px;
    }
    .cabecalho ul {
        flex-direction: column;
        position: relative;
        bottom: 5px;
    }
    .rodape .logo-rodape h1 {
        margin: 10px 0 0 0;
        font-size: 1.25rem;
    }
    .main .img .unep h2 {
        font-size: 1.5rem;
        width: 450px;
        height: 50px;
    }
    .main .img .unep button {
        font-size: 1rem;
        width: 100px;
        height: 40px;
    }
}

@media (max-width: 425px) {
    .rodape .logo-rodape h1 {
        font-size: 1.25rem;
    }
    .main .img .unep h2 {
        font-size: 1rem;
        width: 300px;
        height: 40px;
    }
    .main .img .unep button {
        font-size: .5rem;
        width: 50px;
        height: 30px;
    }
    .main .video-you-tube .you-tube {
        width: 324px;
        height: 176px;
    }
    .rodape .rede-social a .linkedin {
        width: 50px;
        margin: 0 20px;
    }
    .rodape .rede-social a .github {
        width: 72px;
        margin: 0 20px;
}
}
@media (max-width: 320px) {
    .rodape .logo-rodape h1 {
        font-size: 1.25rem;
    }
    .main .img .unep h2 {
        font-size: 1rem;
        width: 300px;
        height: 40px;
    }
    .main .img .unep button {
        font-size: .5rem;
        width: 50px;
        height: 30px;
    }
    .main .video-you-tube .you-tube {
        width: 300px;
        height: 176px;
    }
}